// Global Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// General Styling
body {
  background-color: $light-greyish-cyan-bg;
}
// Top banner styling
.top-banner {
  background-color: $desaturated-dark-cyan;
  background-image: url(../../assets/images/bg-header-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 12rem;
  width: 100%;
  margin-bottom: 6.4rem;

  @media screen and (max-width: 800px) {
    background-image: url(../../assets/images/bg-header-mobile.svg);
  }
}
