@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
// General Styling
html {
  font-size: 62.5%;
}
body {
  font-family: "League Spartan", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
}
