<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/script.js" defer></script>

    <title>Job Listings</title>
  </head>
  <body>
    <div class="top-banner">
      <div class="search-bar">
        <button class="btn-clear">Clear</button>
      </div>
    </div>
    <div class="item-cards-container">{%ITEM_CARDS%}</div>
  </body>
</html>
