<article class="item-card">
  <div class="card__logo-box">
    <img class="card__logo" src="{%COMPANY_LOGO%}" alt="company logo" />
  </div>
  <div class="card__role-box">
    <p class="card__role-company">{%COMPANY_NAME%}</p>
    <div class="card__role-tags">
      <span class="tags new">NEW</span>
      <span class="tags featured">Featured</span>
    </div>
    <p class="card__role-position">{%POSITION%}</p>
    <div class="card__role-details">
      <p class="role-posted-at">{%POSTED_AT%}</p>
      <p class="role-contract">{%CONTRACT%}</p>
      <p class="role-location">{%LOCATION%}</p>
    </div>
  </div>
  <div class="card__role-skills-box">
    <span class="skills">{%SKILLS%}</span>
  </div>
</article>
