<article class="item-card">
  <div class="card__logo-box">
    <img class="card__logo" src="{%COMPANY_LOGO%}" alt="company logo" />
  </div>
  <div class="card__role-box">
    <div class="card__role-info">
      <p class="card__role-company">{%COMPANY_NAME%}</p>
      <div class="card__role-tags">{%TAGS%}</div>
    </div>
    <p class="card__role-position">{%POSITION%}</p>
    <ul class="card__role-details">
      <li class="role-detail role-posted-at">{%POSTED_AT%}</li>
      <li class="role-detail role-contract">{%CONTRACT%}</li>
      <li class="role-detail role-location">{%LOCATION%}</li>
    </ul>
  </div>

  <div class="card__role-skills-box">
    <ul class="skills">
      {%SKILLS%}
    </ul>
  </div>
</article>
