@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(180deg, 52%, 96%);
}

.top-banner {
  background-color: hsl(180deg, 29%, 50%);
  background-image: url(../../assets/images/bg-header-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 12rem;
  width: 100%;
  margin-bottom: 6.4rem;
  position: relative;
}
@media screen and (max-width: 800px) {
  .top-banner {
    background-image: url(../../assets/images/bg-header-mobile.svg);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
}

.item-card {
  width: 75%;
  margin: auto;
  padding: 1.6rem 2.4rem;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 15px 20px -5px hsla(189deg, 82%, 28%, 0.149);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.item-card:has(.featured) {
  border-left: 0.4rem solid hsl(180deg, 29%, 50%);
}
.item-card .card__logo-box .card__logo {
  width: 8.4rem;
  height: 8.4rem;
}
.item-card .card__role-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.item-card .card__role-box .card__role-info {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: hsl(180deg, 29%, 50%);
}
.item-card .card__role-box .card__role-info .card__role-tags .tags {
  padding: 0.6rem 1.2rem 0.4rem;
  border-radius: 1.6rem;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  font-size: 1.4rem;
}
.item-card .card__role-box .card__role-info .card__role-tags .new {
  background-color: hsl(180deg, 29%, 50%);
}
.item-card .card__role-box .card__role-info .card__role-tags .new::after {
  content: "!";
}
.item-card .card__role-box .card__role-info .card__role-tags .featured {
  background-color: hsl(180deg, 14%, 20%);
}
.item-card .card__role-box .card__role-position {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(180deg, 14%, 20%);
  text-transform: capitalize;
  cursor: pointer;
}
.item-card .card__role-box .card__role-position:hover {
  color: hsl(180deg, 29%, 50%);
}
.item-card .card__role-box .card__role-details {
  color: hsl(180deg, 8%, 52%);
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.item-card .card__role-box .card__role-details .role-detail + .role-detail::before {
  content: "•";
  margin-right: 0.8rem;
}
.item-card .card__role-skills-box {
  margin-left: auto;
}
.item-card .card__role-skills-box .skills {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}
.item-card .card__role-skills-box .skills .skill {
  list-style: none;
  text-transform: capitalize;
  color: hsl(180deg, 29%, 50%);
  background-color: hsl(180deg, 31%, 95%);
  padding: 0.8rem;
  cursor: pointer;
}
.item-card .card__role-skills-box .skills .skill:hover {
  color: hsl(180deg, 31%, 95%);
  background-color: hsl(180deg, 29%, 50%);
}
@media screen and (max-width: 800px) {
  .item-card .card__role-skills-box {
    margin-left: unset;
  }
}
@media screen and (max-width: 800px) {
  .item-card {
    width: 90%;
    margin-bottom: 4.8rem;
    padding: 3.6rem 2.4rem 2.4rem;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
  .item-card .card__logo-box {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .item-card .card__logo-box .card__logo {
    width: 4.8rem;
    height: 4.8rem;
  }
  .item-card .card__role-box {
    border-bottom: 1px solid hsl(180deg, 8%, 52%);
    padding-bottom: 1.8rem;
    width: 100%;
  }
}

.search-bar {
  width: 75%;
  background-color: hsl(0deg, 0%, 100%);
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(50%);
  padding: 1.2rem 3.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: wrap;
  color: hsl(180deg, 29%, 50%);
}

.btn-clear {
  color: inherit;
  border: none;
  background-color: transparent;
  font-family: inherit;
  margin-left: auto;
  font-size: 1.6rem;
  cursor: pointer;
}

.skill-items {
  background-color: hsl(180deg, 31%, 95%);
}
.skill-items * {
  padding: 0.8rem;
}
.skill-items .btn-close {
  background-color: hsl(180deg, 29%, 50%);
  color: hsl(0deg, 0%, 100%);
  font-family: inherit;
  font-weight: 700;
  border: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
}
.skill-items .btn-close:hover {
  background-color: hsl(180deg, 14%, 20%);
}

/*# sourceMappingURL=style.css.map */
