@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-center-v($gap: 1.2rem) {
  display: flex;
  align-items: center;
  gap: $gap;
}
@mixin flex-dirn-v($gap: 1.2rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin absolute-position-half-outside-v-top {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
