// COLORS
// Primary
$desaturated-dark-cyan: hsl(180, 29%, 50%);
// Neutral
$light-greyish-cyan-bg: hsl(180, 52%, 96%);
$light-greyish-cyan-filter: hsl(180, 31%, 95%);
$dark-greyish-cyan: hsl(180, 8%, 52%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);

// TYPOGRAPHY
// Font weights
$font-wt-regular: 500;
$font-wt-bold: 700;
